<div class=".container-fluid">
    <div class="row">
        <h2>London</h2>
        <p>London is the capital of England.</p>
     </div>
    <div class="row">
        <h2>London</h2>
        <p>London is the capital of England.</p>
    </div>
    <div class="row">
        <h2>London</h2>
        <p>London is the capital of England.</p>
    </div>
    <div class="row">
        <h2>London</h2>
        <p>London is the capital of England.</p>
    </div>
    <div class="row">
        <h2>London</h2>
        <p>London is the capital of England.</p>
    </div>
</div>