<div class="container-fluid">
    <div class="row" style="height: 10vh;">
        <h2>Chương 1: Phép Tính</h2>
    </div>
    <div class="row" style="height: 89.8vh;">
        <div class="col-3" >
            <div class="bai">Bài 1</div>
            <div class="bai">Bài 2</div>
            <div class="bai">Bài 3</div>
            <div class="bai">Bài 4</div>
            <div class="bai">Bài 5</div>
            <div class="bai">Bài 6</div>
            <div class="bai">Bài 7</div>
            <div class="bai">Bài 8</div>
            <div class="bai">Bài 9</div>
            <div class="bai">Bài 10</div>
        </div>
        <div class="col-9">
            <div class="HeadRight">
                <p>Tên bài</p>
            </div>
           <div class="row" style="height: 95.5%;">
            <div class="anhLT">
                <img src="/src/public/images/test.jpg" alt="" width="75%" height="85%" style="padding-top: 50px;">
            </div>
            <!-- <div class="baitap">
                <p>bài tập</p>
            </div> -->
           </div>
        </div>
    </div>
</div>