h2{
    text-align: center;
    padding-top: 20px;
}
.col-3{
    border: 1px black solid;
}
.bai{
    height: 8.9vh;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}
.HeadRight{
    height: 4vh;
    border: 1px solid black;
    margin: 0px -13px 0px -13px;
}

.HeadRight p{
    text-align: center;
}

/* .anhLT{
    float: left;
    width: 40%;
    height: 95%;
}

.baitap{
    text-align: center;
    border: 1px solid black;
} */